.board {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.board td {
  height: 150px;
  width: 150px;
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 70px;
  padding: 0 !important;
  cursor: pointer;
}

.start-button {
  margin-top: 50px !important;
}

.modal .content {
  text-align: center;
}
