.board {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.board td {
  min-height: 100px;
  min-width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  cursor: pointer;
}

.endgame {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.start-button {
  margin-top: 50px !important;
}
